/* 全頁共用樣式 */
.secondaryBtn {
  background-color: var(--hover);
  border: none;
  border-radius: 50px;
  width: 127px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.secondaryBtn:hover {
  background-color: var(--hover-dark);
}

.h3 {
  text-align: center;
  font-size: 36px;
  color: var(--primary-color);
  font-weight: bold;
}

/* 統一 Hero 區塊樣式 */
.kvCommon {
  height: calc(80vh - 100px);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 35px;
}

.kvText {
  gap: 10px;
  color: #fff;
  margin-bottom: 35px;
}

.kvText h1 {
  font-size: 64px;
  text-align: center;
}

.kvText p {
  font-size: 14px;
  text-align: center;
}
